/*body {
  font-family: 'PT Sans';
}*/

body {
  font-family: 'Lato', sans-serif;
}

.row {
  align: center;
}

body.modal-open div.modal-backdrop {
    z-index: 0;
}

/*#content {
    background-color: rgb(122, 100, 123);
}*/
